
# Virtual Environment
venv/

# Python Cache
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class


# Bot Logs (Ignore everything in logs folder)
logs/*
# keep the folder itself
!logs/.gitkeep


# Security (API keys & passwords)
.env
*.secret


# System Files
.DS_Store